{% extends "base.html.twig" %}

{% block body %}
    <div class = 'containerForm'>
        {{ form_start(form) }}
        {{ form_widget(form) }}<br>
        <button type="submit">Ajoute un programme</button>
        {{ form_end(form) }}
    </div>
{% endblock %}