@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(165,42,42);
    color: rgb(255, 255, 255);

    h1 {
        color: rgb(255, 255, 255);
        text-align: center;
        text-shadow: -2px 0 black, 0 1px black,
      1px 0 black, 0 -1px black
    }
    
}
p {
  color: white;
}
//------------------------------------------navbar-------------------------------
.nav-item {
  color: rgb(53, 0, 0);
}

li {
  list-style: none;
}

//-----------------------------------------program---------------------------------
.Program-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
//------------------------------------- program/show-------------------------------
.width-poster {
  width: 25rem;
}

//------------------------------------- end program/show---------------------------
//-------------------------------------program/season_show-------------------------
.media {
  margin:2rem;
}

//-------------------------------------end program/season_show---------------------
.link-style {
  text-decoration: none;
  color: blanchedalmond;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

//---------------------------program/episode_show------------------------
.media-body {
  font-size: 1.2rem;
}

.container-comment {
  background-color: whitesmoke;
  padding: 1rem;
  border: thick double #730000;
  border-radius: 10px;
}

.container-comment p {
  color:black;
  font-size: 1rem;
}
// style

.container-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.container-column-center input {
  margin-bottom: 8px;
}
.btn {
    border-color: $white;
    color: #fff;
    box-shadow: 0 0 40px 40px $red inset, 0 0 0 0 $red;
    transition: all 150ms ease-in-out;
    margin-top: 1rem;
    
    &:hover {
      box-shadow: 0 0 10px 0 $white inset, 0 0 10px 4px $white;
      color:white;
    }
  }

.comment-link-style a {
  font-size: 1rem;
  text-decoration: none;
  color: #730000;
}

