@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(58, 46, 116);
    color: rgb(255, 255, 255);

    h1 {
        color: rgb(255, 255, 255);
        text-align: center;
        text-shadow: -2px 0 black, 0 1px black,
      1px 0 black, 0 -1px black
    }
    
}
p {
  color: white;
}

//-----------------------------------------program---------------------------------
.Program-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
//------------------------------------- program/show-------------------------------
.width-poster{
  width: 25rem;
}

//------------------------------------- end program/show---------------------------
//-------------------------------------program/season_show-------------------------
.media{
  margin:2rem;
}
//-------------------------------------end program/season_show---------------------